*.egg-info/

**/.env
**/wandb/

mnist_asl_letters_classification/setup.py
mnist_asl_letters_classification/notebooks/model_inference.ipynb
mnist_asl_letters_classification/reports/figures/general
mnist_asl_letters_classification/notebooks/image.png

**/models/checkpoints/*.pth
**/models/pretrained/*.pth

**/data/

**/*.csv
**/*.jpg
**/*.jpeg
**/*.json
**/*.xlsx
**/*.parquet
**/*.h5
**/*.hdf5
**/*.zip
**/*.tar
**/*.gz
**/*.rar
**/*.7z
**/*.db
**/*.sqlite

**/.idea/
**/*.iml

**/.ipynb_checkpoints/
**/.vscode/
**/.settings/
**/*.code-workspace

**/__pycache__/